<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>&#x2F;datum&#x2F;component&#x2F;fishing - &#x2F;tg&#x2F; Station 13</title>
</head>
<body>
<header>
    <a href="index.html">&#x2F;tg&#x2F; Station 13</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
 &mdash; <a href="datum/component/fishing.html#var">Var Details</a></header>
<main>
<h1>fishing <aside>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/fishing.html">fishing</a></aside>
        
    
            <a href="https://github.com/Nosha-Industries/Nosha-Industries-Server/blob/cf288ff7c8ba85b8290cf24902f3d841581389c9/modular_skyrat/modules/fishing/code/fishing.dm#L18">
        <img src="git.png" width="16" height="16" title="modular_skyrat&#x2F;modules&#x2F;fishing&#x2F;code&#x2F;fishing.dm 18"/></a></h1>

<table class="summary" cellspacing="0"><tr><td colspan="2"><h2>Vars</h2></td></tr>
            <tr><th><a href="datum/component/fishing.html#var/atom_parent">atom_parent</a></th><td>the atom that has recieved this component</td></tr>
            <tr><th><a href="datum/component/fishing.html#var/generate_fish">generate_fish</a></th><td>whether this should generate fish when successfully fishing from this</td></tr>
            <tr><th><a href="datum/component/fishing.html#var/mutate_parent">mutate_parent</a></th><td>to modify the parent with a bobber icon</td></tr>
            <tr><th><a href="datum/component/fishing.html#var/possible_loot">possible_loot</a></th><td>the list of possible loot you can get from successfully fishing from this</td></tr>
            <tr><th><a href="datum/component/fishing.html#var/reel_sound_timer">reel_sound_timer</a></th><td>the timer for playing the sound for when to reel back in</td></tr></table>
    <h2 id="var">Var Details</h2><h3 id="var/atom_parent"><aside class="declaration">var </aside>atom_parent
            <aside>&ndash; /<a href="atom.html">atom</a></aside>
        
    
            <a href="https://github.com/Nosha-Industries/Nosha-Industries-Server/blob/cf288ff7c8ba85b8290cf24902f3d841581389c9/modular_skyrat/modules/fishing/code/fishing.dm#L34">
        <img src="git.png" width="16" height="16" title="modular_skyrat&#x2F;modules&#x2F;fishing&#x2F;code&#x2F;fishing.dm 34"/></a></h3>
        <p>the atom that has recieved this component</p><h3 id="var/generate_fish"><aside class="declaration">var </aside>generate_fish
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/Nosha-Industries/Nosha-Industries-Server/blob/cf288ff7c8ba85b8290cf24902f3d841581389c9/modular_skyrat/modules/fishing/code/fishing.dm#L22">
        <img src="git.png" width="16" height="16" title="modular_skyrat&#x2F;modules&#x2F;fishing&#x2F;code&#x2F;fishing.dm 22"/></a></h3>
        <p>whether this should generate fish when successfully fishing from this</p><h3 id="var/mutate_parent"><aside class="declaration">var </aside>mutate_parent
            <aside>&ndash; /mutable_appearance</aside>
        
    
            <a href="https://github.com/Nosha-Industries/Nosha-Industries-Server/blob/cf288ff7c8ba85b8290cf24902f3d841581389c9/modular_skyrat/modules/fishing/code/fishing.dm#L30">
        <img src="git.png" width="16" height="16" title="modular_skyrat&#x2F;modules&#x2F;fishing&#x2F;code&#x2F;fishing.dm 30"/></a></h3>
        <p>to modify the parent with a bobber icon</p><h3 id="var/possible_loot"><aside class="declaration">var </aside>possible_loot
            <aside>&ndash; /list</aside>
        
    
            <a href="https://github.com/Nosha-Industries/Nosha-Industries-Server/blob/cf288ff7c8ba85b8290cf24902f3d841581389c9/modular_skyrat/modules/fishing/code/fishing.dm#L20">
        <img src="git.png" width="16" height="16" title="modular_skyrat&#x2F;modules&#x2F;fishing&#x2F;code&#x2F;fishing.dm 20"/></a></h3>
        <p>the list of possible loot you can get from successfully fishing from this</p><h3 id="var/reel_sound_timer"><aside class="declaration">var </aside>reel_sound_timer
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/Nosha-Industries/Nosha-Industries-Server/blob/cf288ff7c8ba85b8290cf24902f3d841581389c9/modular_skyrat/modules/fishing/code/fishing.dm#L28">
        <img src="git.png" width="16" height="16" title="modular_skyrat&#x2F;modules&#x2F;fishing&#x2F;code&#x2F;fishing.dm 28"/></a></h3>
        <p>the timer for playing the sound for when to reel back in</p></main>
<footer>
    tgstation.dme
    <a href="https://github.com/Nosha-Industries/Nosha-Industries-Server/tree/cf288ff7c8ba85b8290cf24902f3d841581389c9">cf288ff</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/src/dmdoc/README.md">dmdoc 1.4.1</a></footer>
</body>
</html>
