@use 'sass:meta';

$light: #b37b14;
$dark: #252525;

@use '../../base.scss' with (
  $color-bg: $dark,
  $color-fg: $light
);

@use '../crt.scss';

.theme-crtntos {
  @extend %theme-crt;

  @keyframes ntosConfirmFlicker {
    0% {
      background-color: $light;
      color: $dark;
    }
    50% {
      background-color: $dark;
      color: $light;
    }
    100% {
      background-color: $light;
      color: $dark;
    }
  }

  .Button.ConfirmButton {
    animation: ntosConfirmFlicker 5s infinite;
    &:hover {
      animation: none;
    }
  }

  .Layout__content {
    background-image: url('../../../assets/bg-artea.svg');
    background-size: 100%;
    background-repeat: no-repeat;
  }
}
